.diffTable th,
.diffTable td {
    white-space: nowrap;
}

.diffTable td:nth-child(13) {
    max-width: 50ch;
    white-space: wrap;
}

/* numbers (nom_loc, nom_ang) should be aligned to the right
 for easier comparison */
.diffTable td:nth-child(6),
.diffTable td:nth-child(7),
.diffTable td:nth-child(8),
.diffTable td:nth-child(9),
.diffTable td:nth-child(10),
.diffTable td:nth-child(11),
.diffTable td:nth-child(12) {
    text-align: right;
}
