<!DOCTYPE html>
<html lang="en">
<head>
  <title>Machine Configuration Database</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/licco.css">

  <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="js/dayjs/dayjs.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
  <script defer type="text/javascript" src="js/@fortawesome/fontawesome-free/js/licco.js"></script>
  <script defer type="text/javascript" src="js/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>

  <script type="text/javascript" src="static/licco.js"></script>

  <script type="text/javascript">
    const logged_in_user  = "{{ logged_in_user }}";
  </script>

</head>
<body id="neocaptar">

<nav class="navbar navbar-expand-lg navbar-light" id="liccoNav">
    <a class="navbar-brand" href="#">Machine Configuration Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="nav nav-tabs" id="liccoNavbar" role="tablist">
      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#approved" data-url="static/html/tabs/approved.html">Current Approved Configuration</button>
      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#projects" data-url="static/html/tabs/projects.html">Projects</button>
      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#ffts" data-url="static/html/tabs/ffts.html">FFTs</button>
      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#fcs" data-url="static/html/tabs/fcs.html">FCs</button>
      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#fgs" data-url="static/html/tabs/fgs.html">Fungibles</button>
    </div>
    
    <div class="nav ms-auto"><span id="toolbar_for_tab"></span></div>
</nav>

<div id="global_mdl_holder"></div>
<div id="global_toast_holder"></div>
<div class="tab-content container-fluid" id="myTabContainer">
  <div class="tab-pane fade" id="approved" role="tabpanel"></div>
  <div class="tab-pane fade" id="projects" role="tabpanel"></div>
  <div class="tab-pane fade" id="ffts" role="tabpanel"></div>
  <div class="tab-pane fade" id="fcs" role="tabpanel"></div>
  <div class="tab-pane fade" id="fgs" role="tabpanel"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var showTab = function (e) {
	  var target = $(e.target).attr("data-bs-target");
    console.log("Showing tab " + target);
    history.pushState(null, null, target)
		var template_url = $(e.target).attr("data-url");
    $.ajax({ type: "GET", url: template_url})
    .done(function(data){
      $(target).empty().html(data);
      $("#toolbar_for_tab").empty();
      $(target).find(".tabcontainer").trigger("lg.loaded.bs.tab", e);
      $(target).find(".tabcontainer").trigger("lg.shown.bs.tab", e);
      licco_helptlbr($("#toolbar_for_tab"));
    }).fail(function(){
      alert("Error fetching template " + template_url + ".");
    })
  };

    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', showTab);

    // Code for honoring the hash; for example URL#eLog gets you to the eLog
    var hash = window.location.hash;
    if (hash) {
      $('#liccoNavbar button[data-bs-target="' + hash + '"]').tab('show');
    } else {
      $('#liccoNavbar button:first').tab('show');
    }
});

</script>
</body>
</html>
