<!DOCTYPE html>
<html lang="en">
<head>
  <title>PCDS Line configuration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/licco.css">
  <link rel="stylesheet" type="text/css" href="../../js/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/noty/lib/noty.css">

  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../js/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../../js/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
  <script type="text/javascript" src="../../js/noty/lib/noty.min.js"></script>
  <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../js/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/all.min.js"></script>

  <script type="text/javascript" src="../../static/licco.js"></script>

  <script type="text/javascript">
    const logged_in_user  = "{{ logged_in_user }}";
    const project_id = "{{ project_id }}";
  </script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" id="prjNav">
      <a class="navbar-brand" href="../../#projects">PCDS Line config</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flex-grow-1 text-center prjtitle"><span class="prjnm"></span></div>
      <div class="collapse navbar-collapse" id="prjNavbar">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <span id="toolbar_for_tab">Right</span>
        </ul>
      </div>
  </nav>

<div id="prj"></div>

<script type="text/javascript">
$(document).ready(function() {
  $.when($.ajax({type: "GET", url: "../../static/html/tabs/project.html"}), $.getJSON("../../ws/projects/" + project_id + "/"))
  .done(function(d0, d1){
    let tmpl = d0[0], prj = d1[0].value;
    $("#prj").empty().append(tmpl);
    $("#prj").find(".tabcontainer").trigger("lg.loaded.bs.tab");
    $("#prj").find(".tabcontainer").trigger("lg.shown.bs.tab");
  })
});

</script>
</body>
</html>
