<!DOCTYPE html>
<html lang="en">
<head>
  <title>Machine Configuration Database</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/licco.css">

  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../js/dayjs/dayjs.min.js"></script>
  <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/licco.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>


  <script type="text/javascript" src="../../static/licco.js"></script>

  <script type="text/javascript">
    const logged_in_user  = "{{ logged_in_user }}";
    const project_id = "{{ project_id }}";
    const project_status = "{{ prjstatus }}";
    const tmplname = "{{ template_name }}";
    const otherprjid = "{{ otherprjid }}";
  </script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" id="prjNav">
      <a class="navbar-brand" href="../../#projects">Machine Configuration Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="flex-grow-1 text-center prjtitle"><span class="prjnm"></span></div>
      <div class="flex-grow-1 text-center prjstatus"></div>
      <div class="collapse navbar-collapse" id="prjNavbar">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="nav navbar-nav ms-auto">
          <span id="toolbar_for_tab">Right</span>
        </ul>
      </div>
  </nav>

  <div id="global_mdl_holder"></div>
  <div id="global_toast_holder"></div>
  <div id="prj"></div>

<script type="text/javascript">
$(document).ready(function() {
  $("#prj").height($(window).height() - $("#prjNav").height());
  $.when($.ajax({type: "GET", url: "../../static/html/tabs/"+tmplname}), $.getJSON("../../ws/projects/" + project_id + "/"))
  .done(function(d0, d1){
    let tmpl = d0[0], prj = d1[0].value;
    $("#prj").empty().append(tmpl);
    $("#prj").find(".tabcontainer").trigger("lg.loaded.bs.tab");
    $("#prj").find(".tabcontainer").trigger("lg.shown.bs.tab");
  })
});

</script>
</body>
</html>
